/* 
    Document   : cms
    Created on : Aug 17, 2013, 12:36:44 AM
    Author     : Keittirat
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.txt_left{
    text-align: left !important;
}

.txt_center{
    text-align: center !important;
}

.txt_right{
    text-align: right !important;
}

.margin-bottom-none{
    margin-bottom: 0px !important;
}

.alpha{
    margin-left: 0px !important;
}

.login-form{
    position: absolute;
    padding: 10px;
    box-shadow: 0px 0px 5px #666;
    border-radius: 3px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    text-align: center;
    height: 290px;
}

.login-form input{

}

.login-form img{
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.login-form form{
    margin: 0px;
}

legend h3 a.btn{
    font-size: 11px;
    font-weight: normal;
    margin-left: 5px;
}

body.admin_loged{
    margin-top: 32px;
}

.admin-bar{
    width: 100%;
    position: fixed;
    top: 0px;
    line-height: 31px;
    background-color: #222;
    color: #fff;
    height: 32px;
    z-index: 999;
}

.side-menu a{
    text-indent: 15px;
}

.thumb-product{
    margin: 5px;
    padding: 2px;
    box-shadow: 0px 0px 5px #000;
    width: 212px;
    height: 212px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    border-radius: 112px;
    border: 3px solid #fff;
}

a.product-show{
    text-decoration: none;
    margin-bottom: 20px;
}

.feature-image{
    margin-bottom: 10px;
}