/* 
    Document   : theelysium
    Created on : Aug 19, 2013, 2:36:37 PM
    Author     : Keittirat
    Description:
        Purpose of the stylesheet follows.
*/

@import url('diavlo.css');

root { 
    display: block;
}

body{
    background-image: url('../image/background_tile.jpg');
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
}

.white{
    color: #fff;
}

.red{
    color: #ff0000;
}

.txt_left{
    text-align: left !important;
}

.txt_center{
    text-align: center !important;
}

.txt_right{
    text-align: right !important;
}

.alpha{
    margin-left: 0px !important;
}

.margin-bottom-none{
    margin-bottom: 0px !important;
}

.margin-top-none{
    margin-top: 0px !important;
}

.diavlo{
    font-family: "diavlomedium","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.diavlo_light{
    font-family: "diavlolight","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.slide_upper{
    height: 420px;
    position: relative;
}

.slide_upper{
    background-color: #efefef;
}

.slide_upper a.logo{
    height: 311px;
    background: url('../image/modes.png') no-repeat -2px 0px;
    margin-top: 55px;
    margin-bottom: 54px;
}

.slide{
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 420px;
    z-index: 0;
    top: 0px;
}

.menu-bar{
    height: 60px;
    background: url('../image/menubar_tile.jpg') repeat-x;
    box-shadow: 0px 1px 10px #000;
    font-size: 20px;
}

.menu-bar a.menu-element{
    text-decoration: none;
    color: #86bf60;
    text-align: center;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    padding: 0px 15px;
}

.menu-bar a.menu-element:hover{
    /*color: #39522b;*/
}

.menu-bar a.cart_btn{
    display: inline-block;
    width: 146px;
    height: 68px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: #000;
    background: url('../image/modes.png') no-repeat -325px -119px;
    position: relative;
    top: 21px;
    margin: -39px 0px 0px;
    z-index: 99;
}

.menu-bar a.cart_btn span{
    position: absolute;
    bottom: 17px;
    left: 0px;
    right: 0px;
    margin: auto;
}

.name_login{
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    color: #86bf60;
}

.name_login.loged{
    position: absolute;
    right: 0px;
    top: -45px;
    z-index: 100;
    color: #fff;
}

.footer{
    height: 132px;
    background: url('../image/footer.png') repeat-x;
    margin-top: 20px;
}

.footer-image{
    width: 155px;
    height: 94px;
    background: url('../image/modes.png') no-repeat -765px -192px;
    margin: 22px 0px 0px;
    display: inline-block;
}

.font-txt{
    margin-left: 10px;
}

.font-txt a,.font-txt p, .font-txt h3{
    /*  background-color: #000;
        color: transparent;
        text-shadow: 1px 1px 1px rgba(43,42,43,0.7);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text; */
    color: #2b2a2b;
    text-shadow: -1px -1px 1px #000;
}

.font-txt a{
    color: inherit;
    text-decoration: none;
}

.index_top_gradient{
    background: url('../image/top_gradient.png') no-repeat center;
    position: absolute;
    width: 940px;
    height: 232px;
    z-index: -1;
}

.what_we{
    color: #fff;
    text-align: center;
    margin: 32px auto;
}

.shell_logo{
    height: 326px;
    background: url('../image/whatwedo_bw_clear.png') no-repeat center 100%;
    position: relative;
}

.shell_left{
    width: 226px;
    height: 326px;
    background: url('../image/whatwedo_cl_left_clear.png') no-repeat 0px 0px;
    position: absolute;
    top: 0px;
    left: 9px;
}

.shell_right{
    width: 226px;
    height: 326px;
    background: url('../image/whatwedo_cl_right_clear.png') no-repeat 0px 0px;
    position: absolute;
    top: 0px;
    right: 9px;
}

.trycatch_thumbnail{
    height: 220px;
    border-radius: 115px;
    background-size: auto 100%;
    background-position: center;
}

.title-product{
    background: url('../image/shadow-thumb.png') no-repeat center top;
    padding-top: 30px;
}

.span_block_title_index{
    display: block;
    font-size: 28px;
    font-weight: normal;
}

.index_filter{
    position: absolute;
    top: 10px;
    right: 0px;
}

a.mode_prev, a.mode_next, .display_switch{
    background-image: url('../image/modes.png');
    background-repeat: no-repeat;
}

a.mode_prev{
    background-position: -479px -7px;
    width: 14px;
    height: 37px;
    display: inline-block;
}

a.mode_next{
    background-position: -715px -7px;
    width: 14px;
    height: 37px;
    display: inline-block;
}

.display_switch{
    background-position: -510px -7px;
    width: 43px;
    height: 37px;
    display: inline-block;
}

.display_switch.s1{
    background-position: -510px -7px;
}

.display_switch.s2{
    background-position: -557px -7px;
}

.display_switch.s3{
    background-position: -606px -7px;
}

.display_switch.s3{
    background-position: -658px -7px;
}

.gardening-section{
    height: 450px;
    background-image: url('../image/parallax_bg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px 0px;
}

.title-garden-index{
    font-size: 120px;
    line-height: 150px;
    margin: 40px auto 20px;
}

a.check_me_out_graden{
    background: url('../image/modes.png') no-repeat -753px -9px;
    width: 66px;
    height: 66px;
    display: block;
    margin: 0px auto 10px;
}

.footer-detail_garden{
    margin: 35px 0px 15px; 
    font-size: 20px; 
    line-height: 25px;
    position: relative;
}

a.cmo{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
}

.footer-detail_garden .rq{
    width: 52px;
    height: 46px;
    background: url('../image/modes.png') no-repeat -765px -103px;
    position: absolute;
    top: -26px;
    left: -52px;
}

.footer-detail_garden .lq{
    width: 52px;
    height: 46px;
    background: url('../image/modes.png') no-repeat -849px -102px;
    position: absolute;
    bottom: -26px;
    right: -52px
}

a.cate_product{
    display: block;
    height: 60px;
    margin-bottom: 10px;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    text-decoration: none;
    position: relative;
    border-radius: 3px;
    box-shadow: 0px 1px 4px #000;
}

a.cate_product.active{
    box-shadow: inset 0px 1px 4px #000;
}

a.cate_product span{
    font-size: 22px;
    line-height: 47px;
    display: inline-block;
    width: 153px;
    height: 47px;
    position: absolute;
    top: 6px;
    left: 65px;
}

i.trycatch_icon{
    width: 47px;
    height: 47px;
    margin:6px 10px 6px 6px;
    background-image: url('../image/modes.png');
    background-repeat: no-repeat;
    display: inline-block;
}

i.trycatch_icon.vegetable{
    background-position: -488px -354px;
}

i.trycatch_icon.flower{
    background-position: -544px -354px;
}

i.trycatch_icon.fruit{
    background-position: -600px -354px;
}

.garden-icon1, .garden-icon2{
    width: 139px;
    height: 139px;
    background-image: url('../image/modes.png');
    background-repeat: no-repeat;
    margin: 15px auto;
}

.garden-icon1{
    background-position: -8px -423px;
}

.garden-icon2{
    background-position: -153px -423px;
}

.job_dec p.txt_left{
    padding-left: 20px;
    position: relative;
}

.job_dec p.txt_right{
    padding-right: 20px;
    position: relative;
}

.job_dec p.txt_left img{
    position: absolute;
    top: 7px;
    left: 2px;
}

.job_dec p.txt_right img{
    position: absolute;
    top: 7px;
    right: 2px;
}

.amount_label{
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
}

.garden-vertical-seperate{
    background-image: url('../image/saparater.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 5px 0px;
}

.gallery_garden_header{
    height: 200px;
    width: 100%;
    background-image: url('../image/parallax_bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top;
    margin-top: 20px;
}

.thumbnail-garden{
    height: 230px;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.magnifier{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.4);
    top: 0px;
    left: 0px;
    background-image: url('../image/view.png');
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}

a.a-no-action{
    text-decoration: none;
    color: inherit;
}

a.garden-each-gall:hover .magnifier{
    display: block;
}

.trycatch_nav{
    font-weight: normal;
}

.trycatch_nav span{
    color: #333;
}

#map{
    width: 100%;
    height: 550px;
    background-color: #efefef;
}

.info-contact p.infotxt{
    margin-bottom: 0px;
    font-size: 13px;
}

.lang-bar{
    width: 141px;
    height: 51px;
    background: url('../image/modes.png') no-repeat -320px 0px;
    position: absolute;
    top: 0px;
    z-index: 9990;
    right: 15px;
}

.flag{
    width: 40px;
    height: 38px;
    background-image: url('../image/modes.png');
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    top: 7px;
}

.flag.en-lang{
    background-position: -342px -68px;
    left: 15px;
}

.flag.th-lang{
    background-position: -399px -68px;
    right: 15px;
}

.user_gateway_box{
    position: absolute;
    top: 14px;
    right: 0px;
}

.notification{
    position: fixed;
    top: -50px;
    width: 100%;
    text-align: center;
    background-color: #ff0000;
    z-index: 10000;
}

.notification p{
    margin: 0px;
    padding: 5px 0px;
    color: #fff;
}

.cart-sheet{
    background-color: #fff;
    min-height: 300px;
    position: relative;
    z-index: 1;
    box-shadow: inset 0px 2px 8px #000;
    background: url('../image/old_mathematics.png');
}

.order-list-title{
    background: url('../image/modes.png') no-repeat 0px -354px;
    width: 367px;
    height: 43px;
    margin: 10px auto;
}

a.checkout_btn{
    display: inline-block;
    background: url('../image/modes.png') no-repeat -664px -349px;
    width: 135px;
    height: 61px;
    margin-right: 9px;
}

a.checkout_btn.active{
    background: url('../image/modes.png') no-repeat -806px -349px;
}

.checkout_panel{
    position: relative;
    min-height: 400px;
}

.onion_rotate{
    position: absolute;
    left: 0px;
    top: -50px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    width: 222px;
    height: 222px;
    background: url('../image/onion_rolling.png') no-repeat center;;
}


.done_png{
    width: 156px;
    height: 130px;
    /*    margin: auto;
        position: absolute;
        top: 285px;
        bottom: 0px;
        left: 0px;
        right: 0px;*/
    background: url('../image/done.png') no-repeat center;
}

.section_one_parallax{
    margin-top: 0px; 
    z-index: -1; 
    position: relative;
}
.section_two_parallax{
    padding-top: 50px; 
    margin-bottom: 50px;
    background-image: inherit;
}

